<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"  type="text/css" th:href="@{/../css/style.css}">
<title>Profile</title>
</head>
<body>
		<div class='col-7 h-75 pt-5 flex'>
		<div class='container w-50'>
		<div class="profile-image">
			<div class="profile-edit js--edit--profile"></div>
		</div>
		</div>
		<div class='container w-50'>
		<table class="table table-borderless">
            <tr>
				<td>Ime</td>
				<td class="js--firstname"></td>
			</tr>
				 
            <tr>
				<td>Prezime</td>
				<td class="js--lastname"></td>
			</tr>
                
            <tr>
				<td>Ulica</td>
				<td class="js--street"></td>
			</tr>
			
            <tr>
				<td>Broj stana</td>
				<td class="js--buildNumber"></td>
			</tr>
            <tr>
				<td>Grad</td>
				<td class="js--city"></td>
			</tr>
				
            <tr>
				<td>Telefon</td>
				<td class="js--phone"></td>
			</tr>
				
            <tr>
				<td>Email</td>
				<td class="js--email"></td>
			</tr>
			<!-- <tr>
				<td colspan="2"><input type="button" value="Izmeni" class="btn btn-lg btn-primary btn-block js--edit--profile"/></td>
			</tr> -->
				 
		</table>
	</div>
	</div>
</body>
</html>